<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.bears.driver.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Hiroki Mori. All rights reserved.</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ANYDATA_ADU_E100X</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>25857</integer>
			<key>idVendor</key>
			<integer>5845</integer>
		</dict>
		<key>BELKIN_F5U103</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>259</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>BELKIN_F5U120</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>4611</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>ETEK_1COM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>32775</integer>
			<key>idVendor</key>
			<integer>1388</integer>
		</dict>
		<key>GOHUBS_GOCOM232</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>4097</integer>
			<key>idVendor</key>
			<integer>2337</integer>
		</dict>
		<key>PERACOM_SERIAL1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>1381</integer>
		</dict>
		<key>NOVATEL_U740</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>5120</integer>
			<key>idVendor</key>
			<integer>5136</integer>
		</dict>
		<key>OPTION_VODAFONEMC3G</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>20480</integer>
			<key>idVendor</key>
			<integer>2800</integer>
		</dict>
		<key>OPTION_GT3G</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>24576</integer>
			<key>idVendor</key>
			<integer>2800</integer>
		</dict>
		<key>OPTION_GT3GQUAD</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>25344</integer>
			<key>idVendor</key>
			<integer>2800</integer>
		</dict>
		<key>HUAWEI_MOBILE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>4097</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>QUALCOMMINC_CDMA_MSM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.bears.driver.BelkinF5U103Driver</string>
			<key>IOClass</key>
			<string>BelkinF5U103Driver</string>
			<key>IOMatchCategory</key>
			<string>BelkinF5U103Driver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>10.0.6</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>5.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>12.2</string>
		<key>com.apple.kpi.mach</key>
		<string>12.2</string>
		<key>com.apple.kpi.libkern</key>
		<string>12.2</string>
	</dict>
</dict>
</plist>
